/** **************************************************************** **

    @Author:    Rapić Milan
    @Website:   www.rapicmilan.com | Admin


    Table contents
    ----------------------
    01. Variables
    02. Common
	03. Header
	04. Humberger icon
	05. Sidebar
	06. Main Content
	07. Panel
	08. Form
	09. Dashboard
	10. Projects
	11. Blog

    ----------------------


    Media Queries:
        Base pixel size: 16
         240px      15em
         480px      30em
         600px      37.50em
         800px      50em
        1280px      80em

    @media screen and (min-width: 37.50em) {}
    @media screen and (min-width: 50em) {}
    @media screen and (min-width: 80em) {}


 ** **************************************************************** **/





/** **************************************************************** **

    01. Variables

 ** **************************************************************** **/
$app-background-color: 			#fafafa;
$app-color: 					#232323;
$app-font: 						'Montserrat', sans-serif;
$app-navigation-primary-color:	#3e5e79; 	//#8fc9fb;
$app-navigation-active-color: 	#3e5e79;	//#81c0f5;
$sidebar-navigation-color:		#505050;
$sidebar-background-color:		#ffffff;
$sidebar-width: 				250px;
$sidebar-compact-width: 		60px;



@mixin transition($transition...) {
	-webkit-transition: 		$transition;
       -moz-transition:  		$transition;
    	-ms-transition: 		$transition;
    	 -o-transition:      	$transition;
			transition:         $transition;
}

@mixin transform($transform...) {
	-webkit-transform: 			$transform;
	   -moz-transform: 			$transform;
		-ms-transform: 			$transform;
     	 -o-transform: 			$transform;
      		transform: 			$transform;
}

@mixin borderRadius($radius...) {
	-webkit-border-radius: 		$radius;
	   -moz-border-radius: 		$radius;
		-ms-border-radius: 		$radius;
		 -o-border-radius: 		$radius;
			border-radius: 		$radius;
}


/** **************************************************************** **

     02. Common

 ** **************************************************************** **/
* {
     -webkit-box-sizing:   	border-box;
        -moz-box-sizing:    border-box;
             box-sizing:    border-box;
}

html {
	overflow-x:             hidden;
    overflow-y:             auto;
}

html,
body,
#application {
     min-height:            100%;
	 height: 				100%;
}

body {
   	font-family: 			$app-font;
   	background: 			$app-background-color;
   	color: 					$app-color;
 	font-size: 				14px;
    line-height: 			1.42857143;
}

a {
	text-decoration:       none;
    color:                 inherit;
}

 a, a:hover, a:active, a:focus {
    outline:               none;
}

.img-responsive {
     max-width:  			100%;
     height:     			auto;
}

.hide {
	display:               none;
}

.show{
    display:               block !important;
}

.noselect {
     -webkit-touch-callout: none;
       -webkit-user-select: none;
        -khtml-user-select: none;
          -moz-user-select: none;
           -ms-user-select: none;
               user-select: none;
}

li {
	list-style: 			none;
}

.container-fluid {
 	padding-right: 			15px;
    padding-left: 			15px;
    margin-right: 			auto;
    margin-left: 			auto;
}

.text-center {
	text-align: 			center;
}


/** **************************************************************** **

      03. Header

 ** **************************************************************** **/

.header {
 	background: 			$app-navigation-primary-color;
    position: 				fixed;
    width: 					100%;
    min-height: 			50px;
    z-index: 				999;
 	top: 					0;
}

.header-section-left {
 	float: 					left;
}

.header-section-rigth {
 	float: 					right;
}

.logo {
 	display: 				inline-block;
   	padding: 				10px 0;
   	text-align: 			center;
   	width: 					$sidebar-width;
   	background: 			#ffffff;
	@include 				transition(width 300ms ease-in-out);
}
.logo img {
 	width: 					35px;
   	margin-right: 			5px;
   	vertical-align: 		middle;
}

.logo span {
   	color: 					$app-navigation-primary-color;
   	font-weight: 			700;
}

.sidebar-hide .logo {
   width: 					$sidebar-compact-width;
   padding: 				5px 0;
}

.sidebar-hide .logo img {
   width: 					45px;
}

.sidebar-hide .logo span {
   display: 				none;
}


.header-icon {
 	font-size: 				18px;
   	padding: 				14px 15px;
   	color: 					#ffffff;
   	position: 				relative;
   	display: 				inline-block;
   	vertical-align: 		middle;
   	float: 					left;
	@include 				transition(all 0.4s ease-in-out);
 }

.header-icon i,
.header-icon img,
.header-icon span {
 	cursor: 				pointer;
}

.header-icon:hover,
.header-icon:focus,
.header-icon.active {
	background: 			$app-navigation-primary-color;
}

.header-icon.active .drop-down {
	visibility: 			visible;
   	opacity: 				1;
	@include 				transform(translateY(0px));
}



 /** **************************************************************** **

       04. Humberger icon

  ** **************************************************************** **/

.hamburger {
	display: 				inline-block;
	left: 					10px;
    position: 				relative;
    top: 					7px;
    width: 					37px;
    z-index: 				999;
 	@include 				transition(all 0.3s ease-in-out 0s);
}

.hamburger .line {
	background-color: 		#f3f3f3;
    display: 				block;
    height: 				3px;
    margin: 				4px auto;
    width: 					22px;
	@include 				transition(all 0.3s ease-in-out);
}

.hamburger:hover {
	cursor: 				pointer;
}

.hamburger.is-active .line:nth-child(1),
.hamburger.is-active .line:nth-child(3) {
	width: 					10px;
    height: 				3px;
}

.hamburger.is-active .line:nth-child(2) {
    width: 					20px;
    height: 				3px;
	@include 				transform(translateX(-5px));
}

.hamburger.is-active .line:nth-child(1) {
	@include 				transform(translateY(3px) rotate(45deg));
}

.hamburger.is-active .line:nth-child(3) {
	@include 				transform(translateY(-3px) rotate(-45deg));
}




/** **************************************************************** **

    05. Sidebar

 ** **************************************************************** **/

.sidebar {
	position: 				fixed;
    top: 					55px;
    left: 					0;
    bottom: 				0;
    width: 					$sidebar-width;
    background: 			$sidebar-background-color;
    font-size: 				14px;
    z-index: 				100;
    overflow: 				auto;
	@include 				transform(translateZ(0));
	@include 				transition(width 300ms ease-in-out);
}

.sidebar.sidebar-static {
    position: 				absolute;
}

.sidebar i {
    font-size: 				1.12em;
    margin-right: 			5px;
    vertical-align: 		middle;
    width: 					1.4em;
    display: 				inline-block;
}

.sidebar i.fa {
	vertical-align: 		baseline;
}

.sidebar ul {
    margin: 				0;
    list-style-type: 		none;
    padding: 				0;
}

.sidebar .nano-content > ul {
    width: 					$sidebar-width;
	@include 				transition(width 300ms ease-in-out);
}

.sidebar .nano-content > ul li.label {
    font-size: 				0.9em;
    height: 				30px;
    line-height: 			40px;
    color: 					$app-navigation-primary-color;
    text-transform: 		uppercase;
    font-weight: 			normal;
}

.sidebar .nano-content > ul li.content {
    padding: 				10px;
    color: 					#D8D8D8;
}

.sidebar .nano-content > ul li.content .progress {
    margin-top: 			0.7em;
}

.sidebar .nano-content > ul li > ul {
    display: 				none;
}

.sidebar .nano-content > ul li.open > ul {
    display: 				block;
}

.sidebar .nano-content > ul li > a {
    display: 				block;
    cursor: 				pointer;
    color: 					$sidebar-navigation-color;
    padding: 				10px;
    line-height: 			20px;
    border-bottom: 			none;
    background: 			none;
    text-decoration: 		none;
	@include 				transition(all 0.3s ease-in-out);
}

.sidebar .nano-content > ul li > a > .sidebar-collapse-icon {
    float: 					right;
    margin-right: 			5px;
    font-size: 				18px;
    //margin-top: 			5px;
	@include 				transition(transform 0.3s ease);
}

.sidebar .nano-content > ul li > a > .badge {
    float: 					right;
    font-weight: 			normal;
    font-size: 				1rem;
    background-color: 		#2377BA;
}

.sidebar .nano-content > ul li:hover > a,
.sidebar .nano-content > ul li.active > a,
.sidebar .nano-content > ul li.open > a,
.sidebar .nano-content > ul > li > a.active {
    color: 					$app-navigation-active-color;
    position: 				relative;
}

.sidebar .nano-content > ul > li.active > a::before,
.sidebar .nano-content > ul > li > a.active::before {
    background: 			$app-navigation-active-color;
    content: 				"";
    height: 				100%;
    left: 					0;
    position: 				absolute;
    top: 					0;
    width: 					3px;
}

.sidebar .nano-content > ul li.open > a > .sidebar-collapse-icon {
	@include 				transform(rotate(-180deg));
}

.sidebar .nano-content > ul > li.label,
.sidebar .nano-content > ul > li.content,
.sidebar .nano-content > ul > li > a {
    padding-left: 			20px;
    padding-right: 			20px;
}

.sidebar .nano-content > ul > li.active > a,
.sidebar .nano-content > ul > li.open > a,
.sidebar .nano-content > ul > li > ul {
    background: 			#ffffff;
}

.sidebar .nano-content > ul > li > ul > li.label,
.sidebar .nano-content > ul > li > ul > li.content,
.sidebar .nano-content > ul > li > ul > li > a {
    padding-left: 			45px;
    padding-right: 			15px;
}

.sidebar .nano-content > ul > li > ul > li.active > a,
.sidebar .nano-content > ul > li > ul > li.open > a,
.sidebar .nano-content > ul > li > ul > li > ul {
    background: 			#242634;
}

.sidebar .nano-content > ul > li > ul > li > ul > li.label,
.sidebar .nano-content > ul > li > ul > li > ul > li.content,
.sidebar .nano-content > ul > li > ul > li > ul > li > a {
    padding-left: 			67.5px;
    padding-right: 			15px;
}

.sidebar .nano-content > ul > li > ul > li > ul > li.active > a,
.sidebar .nano-content > ul > li > ul > li > ul > li.open > a,
.sidebar .nano-content > ul > li > ul > li > ul > li > ul {
    background: 			#1c1d28;
}

.sidebar .nano-content > ul > li > ul > li > ul > li > ul > li.label,
.sidebar .nano-content > ul > li > ul > li > ul > li > ul > li.content,
.sidebar .nano-content > ul > li > ul > li > ul > li > ul > li > a {
    padding-left: 			90px;
    padding-right: 			15px;
}

/* Closed sidebar */

body {
    position: 				relative;
}

.sidebar-hide .sidebar {
    left: 					-$sidebar-width;
}

.sidebar {
	@include 				transition(left 300ms ease-in-out, width 300ms ease-in-out);
}

.sidebar-hide .sidebar.sidebar-hide-to-small {
    position: 				absolute;
    width: 					$sidebar-compact-width;
    left: 					0;
}

.sidebar-hide .sidebar.sidebar-hide-to-small,
.sidebar-hide .sidebar.sidebar-hide-to-small .nano,
.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content {
    overflow: 				visible;
    background: 			#ffffff;
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content > ul {
    width: 					60px;
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content > ul .label,
.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content > ul .content {
    display: 				none;
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content > ul > li > a {
    padding: 				0;
    text-align: 			center;
    padding: 				12px 0;
    line-height: 			1;
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content > ul > li > a > i {
    width: 					auto;
    font-size: 				1.7rem;
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content > ul > li > a,
.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content > ul > li > a > .sidebar-collapse-icon {
    font-size: 				0;
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content > ul > li > a > .badge {
    position: 				absolute;
    right: 					3px;
    top: 					3px;
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content > ul > li {
    position: 				relative;
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content > ul > li > ul {
    visibility: 			hidden;
    width: 					$sidebar-width;
    position: 				absolute;
    top: 					0;
    left: 					100%;
}

.sidebar-hide .sidebar.sidebar-hide-to-small .nano-content > ul li:hover > ul {
    visibility: 			visible;
    display: 				block !important;
}

.sidebar-hide .sidebar.sidebar-hide-to-small ~ .content-wrap {
    margin-left: 			$sidebar-compact-width;
}

.sidebar.sidebar-overlay.sidebar-hide-to-small ~ .content-wrap {
    margin-left: 			$sidebar-compact-width;
}

/* Show with Push content */

.sidebar.sidebar-push ~ .content-wrap {
	@include 				transform(translateX(250px) translateZ(0));
	@include 				transition(transform 300ms ease-in-out, margin-left 300ms ease-in-out);
}

.sidebar-hide .sidebar.sidebar-push ~ .content-wrap {
	@include 				transform(translateX(0) translateZ(0));
}


/* Show with Shrink content */

.sidebar.sidebar-shrink ~ .content-wrap {
    margin-left: 			$sidebar-width;
    padding-top: 			55px;
	@include 				transition(margin-left 300ms ease-in-out);
}

.sidebar-hide .sidebar.sidebar-shrink ~ .content-wrap {
    margin-left: 			0;
}

.sidebar-hide .sidebar.sidebar-shrink.sidebar-hide-to-small ~ .content-wrap {
    margin-left: 			$sidebar-compact-width;
}

/* Hide on Content Click */

.sidebar.sidebar-overlap-content ~ .content-wrap:after {
    content: 				'';
    display: 				block;
    position: 				absolute;
    cursor: 				pointer;
    visibility: 			visible;
    opacity: 				1;
    top: 					0;
    right: 					0;
    left: 					0;
    bottom: 				0;
    background-color: 		rgba(255, 255, 255, 0.7);
    z-index: 				10;
	@include 				transition(opacity 300ms ease-in-out, visibility 300ms ease-in-out);
}

.sidebar-hide .sidebar.sidebar-overlap-content ~ .content-wrap:after {
    visibility: 			hidden;
    opacity: 				0;
}

/* Nano Scroller */

.sidebar .nano {
    position: 				relative;
    width: 					100%;
    height: 				100%;
    overflow: 				hidden;
}

.sidebar .nano > .nano-content {
    position: 				absolute;
    overflow: 				scroll;
    overflow-x: 			hidden;
    top: 					0;
    right: 					0;
    bottom: 				0;
    left: 					0;
}

.sidebar .nano > .nano-content:focus {
    outline: 				thin dotted;
}

.sidebar .nano > .nano-content::-webkit-scrollbar {
    display: 				none;
}

.sidebar .nano.has-scrollbar > .nano-content::-webkit-scrollbar {
    display: 				block;
}

.sidebar .nano > .nano-pane {
    background: 			rgba(0, 0, 0, 0.25);
    position: 				absolute;
    width: 					5px;
    right: 					0;
    top: 					0;
    bottom: 				0;
    visibility: 			hidden\9;
	@include 				borderRadius(5px);
	@include 				transition(0.2s);
	/* Target only IE7 and IE8 with this hack */
    opacity: 				0.01;
}

.sidebar .nano > .nano-pane > .nano-slider {
    position: 				relative;
}

.sidebar .nano:hover > .nano-pane,
.sidebar .nano > .nano-pane.active,
.sidebar .nano > .nano-pane.flashed {
    visibility: 			visible\9;
    /* Target only IE7 and IE8 with this hack */
    opacity: 				0.99;
}

/* Light Scheme */

.sidebar.sidebar-light {
    background: 			#F8F8F8;
}

.sidebar.sidebar-light .nano > .nano-pane {
    background: 			rgba(0, 0, 0, 0.15);
}

.sidebar.sidebar-light .nano-content > ul > li.content,
.sidebar.sidebar-light .nano-content > ul > li > a {
    color: 					#919191;
}

.sidebar.sidebar-light .nano-content > ul > li:hover > a {
    color: 					#474747;
}

.sidebar.sidebar-light .nano-content > ul > li.active > a,
.sidebar.sidebar-light .nano-content > ul > li.open > a {
    color: 					#ffffff;
}

.sidebar.sidebar-light .nano-content > ul > li.label,
.sidebar.sidebar-light .nano-content > ul > li.content,
.sidebar.sidebar-light .nano-content > ul > li > a {
    padding-left: 			15px;
    padding-right: 			15px;
}

.sidebar.sidebar-light .nano-content > ul > li.active > a,
.sidebar.sidebar-light .nano-content > ul > li.open > a,
.sidebar.sidebar-light .nano-content > ul > li > ul {
    background: 			#206da9;
}

.sidebar.sidebar-light .nano-content > ul > li > ul > li.label,
.sidebar.sidebar-light .nano-content > ul > li > ul > li.content,
.sidebar.sidebar-light .nano-content > ul > li > ul > li > a {
    padding-left: 			45px;
    padding-right: 			15px;
}

.sidebar.sidebar-light .nano-content > ul > li > ul > li.active > a,
.sidebar.sidebar-light .nano-content > ul > li > ul > li.open > a,
.sidebar.sidebar-light .nano-content > ul > li > ul > li > ul {
    background: 			#1d6298;
}

.sidebar.sidebar-light .nano-content > ul > li > ul > li > ul > li.label,
.sidebar.sidebar-light .nano-content > ul > li > ul > li > ul > li.content,
.sidebar.sidebar-light .nano-content > ul > li > ul > li > ul > li > a {
    padding-left: 			67.5px;
    padding-right: 			15px;
}

.sidebar.sidebar-light .nano-content > ul > li > ul > li > ul > li.active > a,
.sidebar.sidebar-light .nano-content > ul > li > ul > li > ul > li.open > a,
.sidebar.sidebar-light .nano-content > ul > li > ul > li > ul > li > ul {
    background: 			#195786;
}

.sidebar.sidebar-light .nano-content > ul > li > ul > li > ul > li > ul > li.label,
.sidebar.sidebar-light .nano-content > ul > li > ul > li > ul > li > ul > li.content,
.sidebar.sidebar-light .nano-content > ul > li > ul > li > ul > li > ul > li > a {
    padding-left: 			90px;
    padding-right: 			15px;
}





/** **************************************************************** **

     06. Main Content

 ** **************************************************************** **/

header.page {
	background: 			#EAEAEA;
	height: 				100px;
}

header.page .page-title {
	display: 				inline-block;
	width: 					400px;
	vertical-align: 		top;
}

header.page .page-actions {
	display: 				inline-block;
	width: 					50px;
	vertical-align: 		top;
	float: 					right;
}

header.page .page-title h2 {
	margin: 				0;
	padding-top: 			35px;
	font-weight: 			500;
	color: 					#444444;
}

header.page .page-title h2 .fa {
	margin: 0 15px 0 10px;
    font-size: 1.4em;
	color: #3e5e79;
}

header.page .page-action {
	display: 				inline-block;
	//height: 				60px;
	margin-top: 			40px;
	margin-right: 			30px;
	color: 					#444444;
}

header.page .page-action:hover {
	cursor: 				pointer;
	color: 					#e23e23;
	color: 					#699bc5;
}

header.page .page-action.disabled {
	cursor: 				default;
	color: 					#aaaaaa;
}

header.page .page-action .fa{
	font-size: 				1.8em;

}

.main {
	padding: 				10px 0;
}





/** **************************************************************** **

     07. Panel

 ** **************************************************************** **/
.panel {
	background: 			#ffffff;
	margin: 				20px;
	//padding: 				30px;
	border: 				1px solid #e6e6e6;
	border-radius: 			0px;
}

.show-panel {
	visibility: 			visible;
	opacity: 				1;
	@include 				transition(visibility 0.3s, opacity 0.3s linear, height 0.3s);
}

.hide-panel{
	visibility: 			hidden;
	height: 				0;
  	opacity: 				0;
   	@include 				transition(visibility 0.3s, opacity 0.3s linear, height 0.3s);
}

.panel-form {

}

.panel-form .panel{
	min-height: 			400px;
}

.panel-list {

}

.panel-list .panel {
	min-height: 			200px;
}

.panel-header {
	height: 				30px;
}

.panel-header .panel-action-group {
	float: right;
}

.panel-header .panel-action-group .panel-action {
	width: 					20px;
    height: 				20px;
    text-align: 			center;
	margin: 5px 5px 5px 15px;
    display: inline-block;
    font-size: 1.2em;
}

.panel-header .panel-action-group .panel-action:hover {
	cursor: 				pointer;
}

.panel-content {
	padding: 				0 30px 30px 30px;
}

.panel-content .content-left {
	display: 				inline-block;
	width: 					50%;
	vertical-align: 		top;
}

.panel-content .content-right {
	display: 				inline-block;
	width: 					50%;
	vertical-align: 		top;
}

.panel-footer {

}


.remove-button {
	float: 					right;
    width: 					20px;
    height: 				20px;
    text-align: 			center;
	margin: 				5px;
}

.remove-button:hover {
	cursor: 				pointer;
}


/** **************************************************************** **

     08. Form

 ** **************************************************************** **/

.form-element {
	padding: 				10px 0;
}

.form-element label {
	display: 				block;
}

.form-element label.textarea {
	vertical-align: 		top;
	margin-top: 			5px;
}

.form-element.button-group {
	padding-top: 			30px;
}

.form-element button {
	padding: 				10px 20px;
	margin-right: 			10px;
	cursor: 				pointer;
}

.form-element button .fa {
	margin-right: 			5px;
	font-size: 				1.5em;
}

.form-element button .title {
	font-size: 				1.2em;
	line-height: 			1.2em;
}

.form-element input[type="text"] {
	height: 				30px;
	padding: 				0 3px;
	width: 					500px;
}

.form-element textarea {
	min-height: 			120px;
	max-height: 			320px;
	padding: 				0 3px;
	width: 100%;
    max-width: 100%;
}

.form-element select {
	height: 				30px;
	padding: 				0 3px;
	width: 					500px;
}

.form-element ul {
	margin: 				0;
	padding: 				0;
}

.form-element ul li {
	list-style: 			none;
}


/** **************************************************************** **

     09. Dashboard

 ** **************************************************************** **/

#dashboard .panel-container {
	width: 					880px;
	margin: 				auto;
	height: 				200px;
}

#dashboard .panel.projects,
#dashboard .panel.blog {
	width: 					400px;
	height: 				160px;
	display: 				inline-block;
	vertical-align: 		top;
    color: 					#5985ab;
}

#dashboard .panel a {
	display: 				block;
	width: 					100%;
	height: 				100%;
	cursor: 				pointer;
}

#dashboard .panel .fa {
	font-size: 				3em;
	line-height: 			2.2em;
}
#dashboard .panel .text {
	font-size: 				2em;
	padding-left: 			20px;
}





/** **************************************************************** **

     10. Projects

 ** **************************************************************** **/

ul.images {
	padding: 				0;
	margin: 				0;
}

ul.images li {
	margin-bottom: 			10px;
	background: 			#fafafa;
	border: 				1px solid #cccccc;
	padding: 				5px 15px 10px 15px;
}

ul.images li .image-preview {
	display: 				inline-block;
	width: 					160px;
	vertical-align: 		top;
	margin-right: 			20px;
}

ul.images li .image-path {
	display: 				inline-block;
	vertical-align: 		top;
	width: 					calc(100% - 200px);
}

ul.images li .image-path .form-element {
	font-size: 				1em;
	padding: 				0 0 5px 0;
}

ul.images li img {
	width: 					100%;
	margin-top: 			5px;
}

#project-list {
	margin: 60px 0;
}

ul.images input[type="text"] {
	width: 					100%;
}

ul.projects {
	padding: 0;
}

ul.projects .panel {
	padding: 	0;
}

ul.projects .project-details {
	padding: 	10px;
}

ul.projects .project-details h3 {
	padding: 	0;
	margin: 	0;
}

ul.projects .project-details h3:hover {
	color: #5985ab;
	cursor: pointer;
}

.project-images ul {
	padding: 0;
}

.project-images ul li {
	display: inline-block;
	margin: 10px;
}

.project-images ul li img {
	width: 120px;
	border: 1px solid #cccccc;
}





/** **************************************************************** **

     11. Blog

 ** **************************************************************** **/

 ul.blog-posts h3:hover {
 	color: #5985ab;
 	cursor: pointer;
 }

 .blog-form .intro textarea {
 	min-height: 			250px;
 	max-height: 			400px;
}

.blog-form .post textarea {
   min-height: 			400px;
   max-height: 			600px;
}


/** **************************************************************** **/
