#contact-app {
	min-height: 		500px;
	padding: 			40px;
	width: 				300px;
	margin: 			auto;
}

#contact-app .contact-form {
	text-align:             left;
	width:                  80%;
	margin:                 0 auto;
	background:             #eeeeee;
	padding: 				20px 25px 20px 20px;
	border:                 1px solid #bbbbbb;

	-webkit-border-radius:  5px;
	   -moz-border-radius:  5px;
		-ms-border-radius:  5px;
			border-radius:  5px;
}

#contact-app .btn-callout:focus,
#contact-app .btn-callout {
	border: 			0;
	outline: 			0;
	background: transparent;
}

#contact-app .form-group.input {
	height: 			80px;
}

#contact-app .error-message {
	color: 				#802323;
	font-size: 			.9em;
    margin: 			5px 0 0 5px;
}

#contact-app .error-message.hide {
	display: 			none;
}

#contact-app .confirmation-message {
	width: 				100%;
	text-align: 		center;
	padding: 			20px;
	border-radius: 		8px;
}

#contact-app .confirmation-message.success {
	background: 		#4fab5e;
	border: 			1px solid #22552a;
	color: 				#22552a;
	font-size: 			1.2em;
}

#contact-app .confirmation-message.failed {
	background: 		#bb5265;
	border: 			1px solid #77333f;
	color: 				#2f1419;
	font-size: 			1.2em;
}

#contact-app .form-button {
	margin: 			20px 0 30px 0;
}

@media screen and (min-width: 30em) {
	#contact-app {
		width: 			400px;
	}
}

@media screen and (min-width: 37em) {
	#contact-app {
		width: 			500px;
	}
}
@media screen and (min-width: 42em) {
	#contact-app {
		width: 			600px;
	}
}
